/* body {
    height: 400px;
    background-image: url("./img/HomeCafeAroma.png");
    background-size: cover;
    background-size: 80rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  } */
